<?xml version="1.0" encoding="utf-8" ?> 
<configuration> 
 <system.web> 
   <authorization> 
       <allow users="*" /> 
   </authorization> 
   <trace 
       enabled="false" 
       requestLimit="10" 
       pageOutput="false" 
       traceMode="SortByTime" 
   localOnly="true" 
   /> 
   <sessionState  
           mode="InProc" 
           cookieless="false"  
           timeout="20"  
   /> 
   <globalization  
           requestEncoding="utf-8"  
           responseEncoding="utf-8"  
  /> 
   
</system.web> 

<system.webServer>
	<directoryBrowse enabled="true" />
</system.webServer>

</configuration>